# Arquivos CSV
dados_receita_federal/

# Dados gerados durante a implementação
v1/analytics/abertura_empresas/output/

# Arquivo de configuração local
.env.langflow.local

# Volume do minio
minio_data/

# Trabalhos relacionados
related_work/